[Desktop Entry]
Version=1.0
Type=Application
Name=OSRS
GenericName=Old School RuneScape - RuneLite Client
Comment=RuneLite Client
Icon=runescape
Terminal=false
Exec={{game_dir}}/{{app_image}} %u
Categories=Game;
MimeType=x-scheme-handler/rs-launch;x-scheme-handler/rs-launchs

